/*-- scss:defaults --*/

// Google Fonts
@import url(https://fonts.googleapis.com/css2?family=Short+Stack&family=Bagel+Fat+One);

// Base font
$font-family-sans-serif: "Short Stack";
$presentation-font-size-root: 32px;

// Headings
$presentation-heading-font: "Bagel Fat One";
$presentation-heading-color: #5f90d4;
$presentation-heading-line-height: 1.3;

h3, h4 {
  color: #b958d1 !important;
}

// Other stuff
.v-center-container {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 90%;
}

.reveal .slide-logo {
  height: 150px !important;
  width: 225px!important;
  max-width: unset !important;
  max-height: unset !important;
}

.background-iframe {
  padding: 16px 64px 16px 64px;
  width: 80%;
  height: 80%;
}